body {
  background-image: url("https://media.istockphoto.com/vectors/cinema-background-vector-id494833706?k=6&m=494833706&s=612x612&w=0&h=V24ry3Sis0Kc2M2VbaYuuO6ueiBcm8C8qc5dHCp8hUM=");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFF;
}
.negro {
  background-color: rgb(31, 22, 41);
}
.naranja{
	background-color:goldenrod;
}
p.grande {font-size: large;}
p.peque {font-size: small;}
p.medio {font-size: medium;}
p.curier {font-family: courier;}





