<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<meta charset="UTF-8">
	<tittle>ADMIN</tittle>
</head>
<body>

<div class="container">
	<div th:insert="layout/header :: header"></div>
	<div class="container">
	<div class="row">
	<div class="col-lg-4">
	<div class="card">
	<div class="card-head">
	Bienbenido/a:
	


	<div class="cardbody">
		<div th:each="m : ${perfil}">
	<h5 class="card-tittle" th:text="${m.nombre}+' '+${m.apellido}"></h5>
	<a href="#" class="btn btn-dark">Ver Peliculas</a>
	</div>
	</div>
	<div class="cardfooter">
	</div>
	</div>
	</div>
	</div>
	
</div>
			<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			
</body>
</html>

<h5 class=text-center>Proximamente</h5>
	<div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Primer slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#2196f3"></rect><text x="45%" y="50%" fill="#eceff1" dy=".3em">Primer slide</text></svg>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Segundo slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#f50057"></rect><text x="45%" y="50%" fill="#eceff1" dy=".3em">Segundo slide</text></svg>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Tercer slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#ff3d00"></rect><text x="45%" y="50%" fill="#eceff1" dy=".3em">Tercer slide</text></svg>
            </div>
            </div>
            
            <!--Controles NEXT y PREV-->
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--Controles de indicadores-->
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol>
            
        </div>