<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<meta charset="UTF-8">
	<tittle>ADMIN</tittle>
</head>
<body>
	<div>
			<h1>Lista de Peliculas</h1>
	<table cellpading="7" border="2" bgcolor="green">
		<tr>
			<th>ID</th>
			<th>NOMBRE</th>
			<th>DESCRIPCION</th>
			<th>DURACION</th>
			<th>ACTORES</th>
			<th>DIRECTOR</th>
		</tr>
		<tr th:each="peli :${listapeli}" >
			<td th:text="${peli.codPeli}"></td>
			<td th:text="${peli.nombre}"></td>
			<td th:text="${peli.descripcion}"></td>
			<td th:text="${peli.duracion}"></td>
			<td th:text="${peli.actor}"></td>
			<td th:text="${peli.director}"></td>
			<td><a href="#" th:href="@{'/pelicula/editar/'+${peli.codPeli}}">
									<i class="fa fa-edit"></i></a>
			<td><a href="#" th:href="@{'/pelicula/eliminar/'+${peli.codPeli}}">
									<i class="fa fa-edit"></i></a>
		</tr>
	</table>
	</div>
	<div>
		<a href="/pelicula">Agregar Pelicula</a>	
	</div>
	<div>
	<h3>LISTA DE USUARIOS</h3>
	<table cellpading="7" border="2" bgcolor="green"->
		<tr> 
			<th>DNI</th>
			<th>APELLIDO</th>
			<th>NOMBRE</th>
			<th>MAIL</th>
			<th>FECHA DE NACIMIENTO</th>
		</tr>
		<tr th:each="user :${lista}">
			<td th:text="${user.dni}"></td>
			<td th:text="${user.apellido}"></td>
			<td th:text="${user.nombre}"></td>
			<td th:text="${user.mail}"></td>
			<td th:text="${user.fechaNac}"></td>	
		<td><a href="#" th:href="@{'/usuario/editar/'+${user.dni}}">
									<i class="fa fa-edit"></i></a>
		<td><a href="#" th:href="@{'/usuario/eliminar/'+${user.dni}}">
									<i class="fa fa-edit"></i></a>
					</tr>
				</table>
			</div>
			<div>
				<a href="/usuario">Agregar Usuario</a>	
			</div>
	<div>
		<a href="/login">Cerrar Sesión</a>	
	</div>
			<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			
</body>
</html>