<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<meta charset="UTF-8">
	<tittle>Peliculas Disponibles</tittle>
</head>
<body>
<div class="container">
<div>
	<h3>Estrenos</h3>
	<table class="table table-center table-bordered text-center">
		<thead class="table-dark">
		<tr>
			<th>NOMBRE</th>
			<th>DURACION</th>

		</tr>
	</thead>
	<tbody>
		<tr th:each="peli:${listapeli}" >
			<td th:text="${peli.nombre}"></td>
			<td th:text="${peli.duracion}"></td>>
			<td><a class="btn btn-dark" th:href="@{'/pelicula/mostrar/'+${peli.codPeli}}">
									<i class="fa fa-eye"></i></a>
		</tr>
	</tbody>
	</table>
	</div>
	<div>
		<a type="button" class="btn btn-dark btn-sm" href="/login">Cerrar Sesión</a>	
	</div>
</div>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
			type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
			type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
			type="text/javascript"
			src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>