<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org">
<head> 
<tittle>DESPENSA</tittle>
</head>
<body>
<div class="container">
<div class="form">
<h1>Formulario de Registro</h1>
	<form id="formUsuario" th:object="${unUser}" th:action="@{/registro/guardar}" method="post">
			<div class="row mb-3">
				<label for="dni" class="col-sm-2 col-form-label">Documento</label> 
				<div class="col-sm-10">
				<input type="text" id="dni" th:field="*{dni}" class="form-control">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Name	Error</div>
				</div>
			</div>
		<div class="row mb-3">
			<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
			<div class="col-sm-10">
			<input type="text" id="apellido" th:field="*{apellido}" class="form-control">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Name Error</div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="nombre" class="col-sm2 col.form-label">Nombre</label>
			<div class="col-sm-10">
			<input type="text" id="nombre" th:field="*{nombre}" class="form-control">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
			</div>
		</div>
		<div class="row mb-3">
			<label for="correo" class="col-sm2 col.form-label">Mail</label>
			<div class="col-sm-10">
			<input type="text" id="correo" th:field="*{mail}" class="form-control">
		</div>
		<div  class="row mb-3">
			<label for="fechaNac" class="col.sm2 col.form-label">Fecha Nacimiento</label>
			<div class="col-sm-10">
			<input type="date" id="fechaNac" th:field="*{fechaNac}" class="form-control">
			<div class="alret alert-danger" th:if="${#fields.hasErrors('fechaNac')}" th:errors="*{fechaNac}">Name Error</div>
			</div>
		</div>
		<div> class="row mb.3">
			<label for="password" class"col.sm2 col,form-label">Contraseña</label>
			<div class="col.sm.10">
			<input type="password" id="password" th:field="*{password}" class="form-control">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
			</div>
		</div> 
		<div>
			<button type="submit" value="Agregar">Agregar</button>
		</div>
	</form>
</div>
		
</div>
</body>